<nav class="navbar navbar-expand-lg navbar-light ">
    <a class="brand" href="javascript:void(0)">
      <span><img src="../../assets/images/Image 1.svg" /></span>
      <span>Godavari Marathwada Irrigation Development Corporation</span>
    </a>
    <button
      class="navbar-toggler burger"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
     (click)="toggleNav()" [ngClass]="toggle ? 'active' : ''"> 
    
      <span class="burger__line burger__line--top"></span>
      <span class="burger__line burger__line--center"></span>
      <span class="burger__line burger__line--bottom"></span>
   
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-wrapper">
        <ul class="navbar-nav head-nav">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="javascript:void(0)">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="javascript:void(0)">Tenders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="javascript:void(0)"
              >Knowledge Center</a
            >
          </li>
        </ul>
  
        <ul class="navbar-nav small-big-text">
          <li class="smb-text">
            <ul class="navbar-nav a-text ">
              <li class="nav-item">
                <a class="nav-link link-sm" aria-current="page"href="javascript:void(0)">A-</a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-md" aria-current="page" href="javascript:void(0)">A</a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-xl" aria-current="page" href="javascript:void(0)">A+</a>
              </li>
            </ul>
          </li>
  
          <li class="language">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link drop-img" aria-current="page" href="#">EN<img src="../../assets/images/en-icon.svg"> </a>
              </li>
            </ul>
          </li>
  
          <li class="circle">
            <ul class="navbar-nav header-circle ">
              <li class="nav-item ">
                <a class="nav-link  blue-circle" aria-current="page" href="javascript:void(0)"></a>
              </li>
              <li class="nav-item ">
                <a class="nav-link  green-circle" aria-current="page" href="javascript:void(0)"></a>
              </li>
              <li class="nav-item ">
                <a class="nav-link  yellow-circle" aria-current="page" href="javascript:void(0)"></a>
              </li>
            </ul>
          </li>
  
          <li>
            <ul class="navbar-nav search">
              <li class="nav-item">
                <a href="" class="search-icon"><img  src="../../assets/images/seacrch-icon.png" alt="search icon"></a>
              </li>
            </ul>
          </li>
  
        </ul>
      </div>
      <!-- // -->
      <ul class="navbar-nav nav-service ">
        <li class="nav-item ">
          <a class="nav-link" aria-current="page" href="javascript:void(0)">Annual Reports</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" aria-current="page" href="javascript:void(0)">Circulars  </a>
        </li>
        <li class="nav-item  ">
          <a class="nav-link" aria-current="page" href="javascript:void(0)">Disclosures</a>
        </li>
        <li class="nav-item  ">
          <a class="nav-link" aria-current="page" href="javascript:void(0)">Governing Councils   </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" aria-current="page" href="javascript:void(0)">  Governing Councils Decisions</a>
        </li>
      </ul>
     <!--  -->
    </div>
  </nav>