<footer>
  <div class="container">
    <div class="row footer-row">
      <div class="col-lg-8 col-md-12 col-sm-12 foo-link">
        <h2 class="foo-main-heading">Subscribe to our Newsletters</h2>
        <!-- input and button subscribe -->
        <div class="subscibe-wrapper"> 
          <input type="email" name="email" placeholder="Enter Email Id">
          <button type="submit" class="subscibe-btn text-uppercase" >Subscribe Now</button>   
        </div>
        <!-- About us imp links -->
          <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4">
                <h4 class="text-uppercase">About us</h4>
                <ul>
                    <li> <a href="javascript:void(0)">Establishment</a></li>
                    <li> <a href="javascript:void(0)">Our Mission</a></li>
                    <li> <a href="javascript:void(0)">Our Vision</a></li>
                    <li> <a href="javascript:void(0)">Members</a></li>
                </ul>
              </div>
              <div class="col-lg-4 col-md-5 col-sm-5">
                  <h4 class="imp-link">Important Links</h4>
                  <ul>
                    <li> <a href="javascript:void(0)">Annual Reports</a></li>
                    <li> <a href="javascript:void(0)">Circulars  </a></li>
                    <li> <a href="javascript:void(0)">Governing Councils</a></li>
                    <li> <a href="javascript:void(0)">Governing Councils Decisions</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-3">
                <ul class="impl-links">
                    <li> <a href="javascript:void(0)">Disclosures</a></li>
                    <li> <a href="javascript:void(0)">Disclaimer </a></li>
                    <li> <a href="javascript:void(0)">Privacy Policy </a></li>                
                    <li> <a href="javascript:void(0)">Help</a></li>
                </ul>
            </div>
          </div>
          <!-- footer- @ copyright -->
          <div class="footer-copyright">
            <div>
              <h5>This is the official website of Vidarbha Irrigation Development Corporation</h5>
              <p> &copy; All rights reserved</p>
            </div>
            <div>
              <h5>Powered By</h5>
              <p>Webworks Pvt.Ltd</p>
            </div>
          </div>
      </div>

     
      <!-- Contacts us About us and social icons -->
      <div class="col-lg-4">
          <div class="footer-contact-wrapper">
            <div class="foo-div">
              <h3>Contact Us</h3>
              <address class="contact-address">
                  Near Old Secretary Building, Sinchan
                  Sewa Bhavan, Civil Lines, Nagpur,
                  Maharashtra 440001.
              </address>
            </div>
            
            <div class="foo-div">
              <h3>Call Us @</h3>
              <div class="call-us">+919673770139</div>
            </div>
         
            <div>
              <h3>Email Us@</h3>
              <a class="mail-to"  href="mailto:shubham@gmail.com">shubham@gmail.com</a>
            </div>
          
            <div class=" footer-icon-wrapper">
              <ul>
                <h3>Follow Us</h3>
                <li><a href="javascript:void(0)"></a><i class="fa-brands fa-facebook"></i></li>
                <li><a href="javascript:void(0)"></a><i class="fa-brands fa-instagram"></i></li>
                <li><a href="javascript:void(0)"></a><i class="fa-brands fa-twitter"></i></li>
                <li><a href="javascript:void(0)"></a><i class="fa-brands fa-linkedin"></i></li>
              </ul>
            </div>
          </div>
      </div>
     
    </div>
  </div>
</footer>
